/* Generic CSS*/
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}








/* Main Rectangle component*/
.Main_Slide_Rect {
  height: 55em;
  display: grid;
}










/* Nav Bar component classes*/
.nav_Bar {
  list-style-type: none;
  margin: 0em;
  padding: 0em;
  overflow: hidden;
  background-color: #333;
  height: 5em;
}

.nav_Bar li {
  float: right;
  height: 5em;
  width: 15em;
}

.active {
  background-color: #04aa6d;
}

.nav_Bar a {
  display: block;
  color: white;
  align-self: center;
  align-content: center;
  text-decoration: none;
  padding: 1em;
  padding-top: 1.8em;
  font-size: 1.2em;
}

.nav_Bar li a:hover:not(.active) {
  background-color: #111;
}















/* Footer classes*/
.footer {
  display: grid;
}

.footer button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width: 100%;
}

.footer_copyright {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 5;
}

.footer_contact {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 5;
  grid-column-end: 6;
}

.footer_contact button:hover{
  background-color:#038a59 ;
}



















/* HomePage component classes*/
.homepage_Title {
  align-self: center;
  font-size: 3em;
}

.left_Background_Title {
  text-align: left;
  padding-left: 5em;
  grid-row-start: 1;
  grid-row-end: 2;
}

.background_content {
  grid-row-start: 2;
  grid-row-end: 20;
  display: grid;
}

.left_background_color {
  background-color: #333;
  display: grid;
  color: white;
}

.right_background_color {
  background-color: rgb(197, 197, 197);
  display: grid;
  color: black;
}

.left_background_text {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  text-align: center;
  padding-left: 3em;
  padding-bottom: 5em;
  align-self: center;
  padding-right: 5em;
  font-size: 1.5em;
}

.left_background_image {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  padding-right: 3em;
}

.right_background_text {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  text-align: left;
  padding-left: 5em;
  padding-bottom: 5em;
  align-self: center;
  font-size: 1.5em;
}

.right_background_image {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  padding-left: 3em;
}

.homepage_Indiv_Proj {
  grid-row-start: 1;
  grid-row-end: 2;
  display: grid;
  align-self: center;
  height: 45em;
}

.homepage_Indiv_Proj h1 {
  align-self: center;
}

.homepage_Project_Container {
  grid-row-start: 2;
  grid-row-end: 20;
  display: grid;
  grid-template-columns: auto auto auto;
}

.homepage_image {
  border-radius: 2em;
  width: 45em;
}
















/* Experience Page component classes*/
.experiencepage_Title_Background_Color {
  background-color: #ffffff;
  display: grid;
}

.experiencepage_Title_Content{
  align-self: center;
  font-size: 3em;
}

.experience_Background_Color {
  background-color: rgb(197, 197, 197);
  display: grid;
}

.left_Background_Title_Exp{
  text-align: left;
  padding-left: 5em;
  grid-row-start: 1;
  grid-row-end: 2;
}

.left_Background_Title_Exp h1 {
  font-size: 5em;
  margin: 0em;
}

.left_Background_Title_Exp h3 {
  font-size: 2em;
  margin-top: 0em;
}

.linkedIn_Text {
  font-size: 2em;
}

.experience_Image {
  width: 30em;
}















/* Projects Page component classes*/
.project_Title {
  grid-row-start: 1;
  grid-row-end: 2;
  font-size: 3em;
}
.project_Title h1 {
  margin: 0em;
}

.project_background_text {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  text-align: left;
  padding-left: 3em;
  padding-top: 3em;
  font-size: 1.5em;
}

.project_image:hover{
  filter: grayscale(80%);
}

.project_image {
  border-radius: 2em;
  width: 45em;
}













/* Various ID's*/
#Ahsoka_pic {
  width: 55em;
}

#Intra_pic {
  width: 25em;
}

#Skimtac_pic {
  width: 45em;
}

#BYU_pic {
  width: 30em;
}

#BYU_pic:hover {
  filter: grayscale(0%);
}

#Hololens_pic:hover {
  filter: grayscale(0%);
}

#linkedIn_pic:hover {
  filter: grayscale(80%);
}

#HomePage_Proj1 {
  background-image: url('../public/img/skimtac_prototype.PNG');
  background-size: 55em;
}

#HomePage_Proj2 {
  background-image: url('../public/img/byu_egypt.jfif');
  background-size: 65em;
  color: white;
}

#HomePage_Proj3 {
  background-image: url('https://img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RE4P81F?ver=a732&q=90&m=2&h=768&w=1024&b=%23FFFFFFFF');
  background-size: 52em;
  color: white;
  margin-left: -5em;
}